[Unit]
Description=Timer to fix OpenVPN certificate SELinux context
Documentation=man:systemd.timer(5)

[Timer]
OnBootSec=10min
Unit=fix-vpn-selinux.service

[Install]
WantedBy=timers.target
