[Unit]
Description=Fix OpenVPN Certificate SELinux Context
After=NetworkManager.service
Documentation=man:chcon(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/chcon -R -t home_cert_t /var/home/justin/.cert
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
