[Unit]
Description=Run Justin Backup (weekly, persistent)

[Timer]
OnCalendar=weekly
Persistent=true
OnBootSec=5min
Unit=Justin-backup.service

[Install]
WantedBy=default.target
